<% if @addresses.present? %>
  <ul>
    <% @addresses.each do |address| %>
      <li>
        <%= address.colony %>, <%= address.city %>, <%= address.country %>, <%= address.pincode %>
        <%# <%= link_to 'Add address', address_path(address) %>
        <%= link_to 'Edit', edit_address_path(address) %> |
        <%= link_to 'Destroy', address_path(address), method: :delete, data: { turbo: false, confirm: 'Are you sure?' } %>

      </li>
    <% end %>
  </ul>
<% else %>
  <p>No addresses added yet.</p>
<% end %>