<% if @addresses %>
  <ul>
    <% @addresses.each do |address| %>
      <li>
        <%= address.colony %>, <%= address.city %>, <%= address.country %>, <%= address.pincode %>
        
        <%= link_to 'Edit', edit_address_path(address) %> |
        <%= link_to'Delete', address_path(address), method: :delete, data: { confirm: 'Are you sure you want to delete this address?' } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No addresses added yet.</p>
<% end %>