<p><%= @address.colony %></p>

<p><%= @address.city %></p>

<p><%= @address.pincode %></p>

<p><%= @address.country %></p>
 


<%# <%# <ul>
  <li><%= link_to "Edit", edit_address_path(@address) %><%# </li>
</ul>  %>