<h1>Product</h1>
<%= form_with model: @product, local: true do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :price %>
  <%= f.number_field :price %><br>

  <%= f.submit "Save Product" %>
<% end %>
